* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030514;
    background-image: url("/imagenes/star.png");
    background-size: auto;
    font-family: 'Chakra Petch', sans-serif;
}

.container-main {
    border: 1px solid transparent;
    height: 100vh;
    background-image: url("/imagenes/star.png");
    background-size: auto;
}

.container-header {
    /* border: 1px solid red; */
    position: fixed;
    margin: -1px;
    width: 100vw;
    z-index: 100;
}

.nav-bar {
    /* border: 2px solid green; */
    display: flex;
    position: relative;
    width: 100vw;
    float: right;
    background: linear-gradient(to bottom, #090824, transparent);
}

.nav-a-logo {
    /* border: 1px solid purple; */
    display: flex;
    margin: 20px 80px;
    width: fit-content;
    height: 3em;
}




/* .container-menu {
    border: 1px solid orange;
    position: relative;
    left: 50%;
    text-align: center;
} */

/* .container-menu ul {
    display: flex;
    margin: 2em;
} */

.nav-bar ul{
    /* border: 1px solid blue; */
    position: absolute;
    right: 5%;
    top: 25%;
    bottom: 25%;
    list-style: none;
    /* overflow: hidden; */
}

/* .container-menu ul li {
    border: 1px solid purple;
    width: fit-content;
    margin-left: 2em;
    list-style: none;
    font-weight: bolder;
} */

.nav-bar ul li {
    float: left;
    font-size: 16px;
    padding-left: 1em;
}

/* .container-menu a {
    color: white;
    text-decoration: none;
} */

.nav-bar ul li a {
    /* border: 1px solid red; */
    display: block;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    transition-duration: 800ms;
}

/* .container-menu a:hover {
    border-bottom: 2px solid #BB8FCE;
    color: #BB8FCE;
} */

.nav-bar ul li a:hover {
    /* border-bottom: 2px solid #9966af; */
    background-color: #12104D;
    border-radius: 5px;
    color: white;
}

.container-encabezados {
    width: fit-content;
    margin: 30vh auto;
    position: relative;
    /* border: 1px solid red; */
}


.container-encabezados h1{
    /* border: 1px solid red; */

    font-size: 3em;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: white;
}

.container-encabezados h3 {
    /* margin-top: -20px; */
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-style: italic;
    color: #85929E;
    z-index: 100;
}

.container-img {
    /* border: 1px solid yellow; */
    margin-top: -20px;
    margin-left: 8%;
    transform: rotate(-5deg);
}

.container-img img {
    width: 90%;
    z-index: -120;
}


.container-body {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 70%;
    height: fit-content;
}

.game {
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5em;
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game iframe {
    border-radius: 1em;
}

.game-instructions {
    color: white;
    /* border: 1px solid green; */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    width: 50%;
    padding: 2em;
    margin: 1em 2em;
    text-align: center;
}


.container-body-astro {
    /* border: 1px solid green; */
    display: flex;
    color: white;
    justify-content: center;
}

.container-body-astro img {
    /* border: 1px solid yellow; */
    width: 30%;
    transform: rotate(10deg);
}

.container-body-astro-info {
    /* border: 1px solid purple; */
    /* background: linear-gradient(to left, #273746, transparent); */
    background-color: #273746;
    border-radius: 1em;
    padding: 3em;
    margin: 1em;
    height: fit-content;
}

.container-body-astro-info h3 {
    margin-bottom: 1em;
    letter-spacing: 3px;
    font-size: 2em;
}

.container-body-astro-info p {
    font-size: 17px;
}

.container-body-planets {
    /* border: 1px solid red; */
    display: inline-flex;
    width: 100%;
    padding: 2em;
    margin-top: 5em;
}

.container-body-planets div {
    /* border: 1px solid green; */
    border-radius: 1em;
    background: linear-gradient(to bottom, #2980B9, transparent);
    color: white;
    width: 250px;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

.container-body-planets div ul{
    list-style: none;
    font-size: 12px;
    text-align: left;
    padding: 1em;
}

.container-body-planets img {
    /* border: 1px solid yellow; */
    width: 150px;
}

.a-button {
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    margin-bottom: 5em;
    width: 20%;
    text-decoration: none;
}

.a-button button {
    margin: 0 auto;
    background-color: #ED9115;
    padding: 1em 2em;
    border-radius: 1em;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-style: none;
    width: 200px;
    transition-duration: 600ms;
}

.a-button button:hover {
    background-color: #FFC90E;
    cursor: pointer;
}


footer {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    color: white;
    text-align: center;
}


